$output-bourbon-deprecation-warnings: false !default;
	// Vendor -------------- //
.guttenberg-usa-callout {
	@import 'lib/bourbon';
	@import 'lib/neat';
	@import 'lib/normalize';
	@import 'core/variables';
	@import 'core/fonts';
	@import 'core/base';
	@import 'core/grid';
	@import 'core/utilities';

	@import 'components/hero';
	@import 'elements/buttons';

	.usa-hero-callout-alt {
		color: inherit;
	}

	.callout-text {
		
	}

	.editor-plain-text {
		color: #191e23;
	}

	.usa-button__inline-link {
		position: relative;
		width: 300px;

		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.dashicons-admin-links {
		position: absolute;
		left: 0;
		z-index: 10;
	}
	.editor-url-input {
		float: left;
	}

	.components-button  {

		background-color: #fff;
		color: #191e23;
		box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #fff, 0 1px 1px rgba(25,30,35,.2);
		-webkit-appearance: none;
		align-items: center;
		border: 0;
		border: none;
		color: #555d66;
		cursor: pointer;
		display: inline-flex;
		font-size: 13px;
		margin: 0;
		overflow: hidden;
		padding: 8px;
		position: absolute;
		right: 0;
		text-decoration: none;
		text-indent: 4px;

	}
}